(
AdoubleStruck,
BdoubleStruck,
DdoubleStruck,
GdoubleStruck,
JdoubleStruck,
KdoubleStruck,
MdoubleStruck,
SdoubleStruck,
UdoubleStruck,
VdoubleStruck,
WdoubleStruck,
XdoubleStruck,
YdoubleStruck,
adoubleStruck,
bdoubleStruck,
cdoubleStruck,
ddoubleStruck,
edoubleStruck,
fdoubleStruck,
gdoubleStruck,
hdoubleStruck,
idoubleStruck,
jdoubleStruck,
kdoubleStruck,
ldoubleStruck,
mdoubleStruck,
ndoubleStruck,
odoubleStruck,
pdoubleStruck,
qdoubleStruck,
rdoubleStruck,
sdoubleStruck,
tdoubleStruck,
udoubleStruck,
vdoubleStruck,
wdoubleStruck,
xdoubleStruck,
ydoubleStruck,
zdoubleStruck,
ditalicDoubleStruck,
eitalicDoubleStruck,
iitalicDoubleStruck,
jitalicDoubleStruck,
gammadoubleStruck,
pidoubleStruck,
u1D7D8,
u1D7D9,
u1D7DA,
u1D7DB,
u1D7DC,
u1D7DD,
u1D7DE,
u1D7DF,
u1D7E0,
u1D7E1
)