@import url(fonts.css);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i');

body {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    color: #f6f6f6;
    background: #23373b;
    white-space: nowrap;
    padding-top: 8px;
    height: 128px;
}

header h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header p {
    font-family: "Fira Sans", sans-serif;
    font-style: italic;
    font-size: 24px;
    margin-top: 0px;
}

.image {
    text-align: center;
    margin-top: 100px;
}

.test {
    font-family: "Fira Math", "Adobe Blank";
    font-size: 200%;
    text-align: center;
    margin-top: 100px;
}
