(
downArrowWithHorizontalStroke,
downHarpoonWithBarbLeftFromBar,
downHarpoonWithBarbRightFromBar,
leftArrowTail,
leftArrowWithTailWithDoubleVerticalStroke,
leftArrowWithTailWithVerticalStroke,
leftBarbDownRightBarbDownHarpoon,
leftBarbDownRightBarbUpHarpoon,
leftBarbUpRightBarbDownHarpoon,
leftBarbUpRightBarbUpHarpoon,
leftDoubleArrowTail,
leftHarpoonWithBarbDownFromBar,
leftHarpoonWithBarbUpFromBar,
leftTwoHeadedArrowFromBar,
leftTwoHeadedArrowWithDoubleVerticalStroke,
leftTwoHeadedArrowWithTail,
leftTwoHeadedArrowWithTailWithDoubleVerticalStroke,
leftTwoHeadedArrowWithTailWithVerticalStroke,
leftTwoHeadedArrowWithVerticalStroke,
longLeftSquiggleArrow,
northEastAndSouthWestArrow,
northEastArrowAndSouthEastArrow,
northWestAndSouthEastArrow,
northWestArrowAndNorthEastArrow,
rightArrowTail,
rightArrowWithTailWithDoubleVerticalStroke,
rightArrowWithTailWithVerticalStroke,
rightDoubleArrowTail,
rightHarpoonWithBarbDownFromBar,
rightHarpoonWithBarbUpFromBar,
rightTwoHeadedArrowFromBar,
rightTwoHeadedArrowWithDoubleVerticalStroke,
rightTwoHeadedArrowWithTail,
rightTwoHeadedArrowWithTailWithDoubleVerticalStroke,
rightTwoHeadedArrowWithTailWithVerticalStroke,
rightTwoHeadedArrowWithVerticalStroke,
southEastArrowAndSouthWestArrow,
southWestArrowAndNorthWestArrow,
upArrowWithHorizontalStroke,
upBarbLeftDownBarbLeftHarpoon,
upBarbLeftDownBarbRightHarpoon,
upBarbRightDownBarbLeftHarpoon,
upBarbRightDownBarbRightHarpoon,
upHarpoonWithBarbLeftFromBar,
upHarpoonWithBarbRightFromBar,
downArrowToBar,
downHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight,
downHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight,
downHarpoonWithBarbLeftToBar,
downHarpoonWithBarbRightToBar,
downTripleArrow,
fallingDiagonalCrossingNorthEastArrow,
fallingDiagonalCrossingRisingDiagonal,
leftArrowWithCircledPlus,
leftDoubleArrowFromBar,
leftDoubleArrowWithVerticalStroke,
leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown,
leftHarpoonWithBarbDownBelowLongDash,
leftHarpoonWithBarbDownToBar,
leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown,
leftHarpoonWithBarbUpAboveLongDash,
leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp,
leftHarpoonWithBarbUpToBar,
leftRightDoubleArrowWithVerticalStroke,
leftarrowwithcircle,
northEastArrowCrossingNorthWestArrow,
northEastArrowCrossingSouthEastArrow,
northWestArrowCrossingNorthEastArrow,
rightDoubleArrowFromBar,
rightDoubleArrowWithVerticalStroke,
rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown,
rightHarpoonWithBarbDownBelowLongDash,
rightHarpoonWithBarbDownToBar,
rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp,
rightHarpoonWithBarbUpAboveLongDash,
rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown,
rightHarpoonWithBarbUpToBar,
risingDiagonalCrossingFallingDiagonal,
risingDiagonalCrossingSouthEastArrow,
southEastArrowCrossingNorthEastArrow,
threeLeftArrows,
upArrowToBar,
upHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight,
upHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight,
upHarpoonWithBarbLeftToBar,
upHarpoonWithBarbRightToBar,
upTripleArrow,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
leftVerticalStrokeArrow,
rightVerticalStrokeArrow,
leftRightVerticalStrokeArrow,
leftDoubleVerticalStrokeArrow,
rightDoubleVerticalStrokeArrow,
leftRightDoubleVerticalStrokeArrow,
leftRightWaveArrow,
leftTwoheadedArrow,
upTwoHeadedArrow,
rightTwoheadedArrow,
downTwoheadedArrow,
leftTailArrow,
rightTailArrow,
leftFrombarArrow,
upFrombarArrow,
rightFrombarArrow,
downFrombarArrow,
leftHookArrow,
rightHookArrow,
leftLoopArrow,
rightLoopArrow,
leftBarbUpHarpoon,
leftBarbDownHarpoon,
upBarbRightharpoon,
upBarbLeftharpoon,
rightBarbUpHarpoon,
rightBarbdownHarpoon,
downBarbRightHarpoon,
downBarbLeftHarpoon,
leftSquiggleArrow,
rightSquiggleArrow,
leftLongArrow,
rightlongArrow,
leftRightLongArrow,
leftLongFromBarArrow,
rightLongFromBarArrow,
rightLongSquiggleArrow,
downAndUpArrow,
leftStrokeArrow,
rightStrokeArrow,
leftRightStrokeArrow,
leftWaveArrow,
rightWaveArrow,
upDownbaseArrow,
leftTabArrow,
rightTabArrow,
leftToBarOverRightToBarArrow,
downZigzagArrow,
upTipLeftArrow,
upTipRightArrow,
downTipLeftArrow,
downTipRightArrow,
rightCornerDownArrow,
carriagereturn,
topCircleLeftArrow,
topCircleRightArrow,
northWestToLongbarArrow,
northWestArrowToCorner,
southEastArrowToCorner,
anticlockwiseOpenCircleArrow,
anticlockwiseGappedCircleArrow,
clockwiseOpenCircleArrow,
clockwiseGappedCircleArrow,
leftOverRightHarpoon,
rightOverLeftHarpoon,
rightOverLeftArrow,
upAndDownArrow,
leftAndRightArrow,
upDoublePairedArrow,
rightDoublePairedArrow,
downDoublePairedArrow,
leftDoublePairedArrow,
upDoubleArrow,
northEastDoubleArrow,
rightDoubleArrow,
southEastDoubleArrow,
downDoubleArrow,
southWestDoubleArrow,
leftDoubleArrow,
northWestDoubleArrow,
leftRightDoubleArrow,
upDownDoubleArrow,
leftDoubleStrokeArrow,
leftRightDoubleStrokeArrow,
rightDoubleStrokeArrow,
leftTripleArrow,
rightTripleArrow,
leftDashArrow,
upDashArrow,
rightDashArrow,
dashdownArrow,
upWhiteArrow,
rightWhiteArrow,
downWhiteArrow,
leftWhiteArrow,
upOnPedestalWhiteArrow,
upArrowOnPedestalHorizontalWhiteBar,
upArrowOnPedestalVerticalWhiteBar,
upDoubleWhiteArrow,
upDoubleOnPedestalWhiteArrow,
rightFromWallWhiteArrow,
upDownWhiteArrow,
rightCircleArrow,
threeRightArrow,
leftOpenHeadedArrow,
rightOpenHeadedArrow,
leftRightOpenHeadedArrow,
upQuadrupleArrow,
downQuadrupleArrow,
rightCircledPlusArrow,
leftLongDoubleArrow,
rightLongDoubleArrow,
leftRightLongDoubleArrow,
leftLongDoubleFromBarArrow,
rightLongDoubleFromBarArrow,
pagedown,
pageup,
rightQuadrupleArrow,
leftQuadrupleArrow,
capslock,
arrowHead,
harpoonHead,
arrowTail
)