(
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
downAndUpArrow,
leftVerticalStrokeArrow,
rightVerticalStrokeArrow,
leftRightVerticalStrokeArrow,
leftFrombarArrow,
upFrombarArrow,
rightFrombarArrow,
downFrombarArrow,
leftHookArrow,
rightHookArrow,
leftLoopArrow,
rightLoopArrow,
rightOverLeftArrow,
upAndDownArrow,
leftAndRightArrow,
upDoubleArrow,
northEastDoubleArrow,
rightDoubleArrow,
southEastDoubleArrow,
downDoubleArrow,
southWestDoubleArrow,
leftDoubleArrow,
northWestDoubleArrow,
leftRightDoubleArrow,
upDownDoubleArrow,
leftLongArrow,
rightlongArrow,
leftRightLongArrow,
leftLongDoubleArrow,
rightLongDoubleArrow,
leftRightLongDoubleArrow,
leftLongFromBarArrow,
rightLongFromBarArrow,
leftLongDoubleFromBarArrow,
rightLongDoubleFromBarArrow,
leftDoubleArrowFromBar,
leftRightDoubleArrowWithVerticalStroke,
northEastAndSouthWestArrow,
northWestAndSouthEastArrow,
rightDoubleArrowFromBar,
leftStrokeArrow,
rightStrokeArrow,
leftDoubleVerticalStrokeArrow,
rightDoubleVerticalStrokeArrow,
leftRightStrokeArrow,
leftRightDoubleVerticalStrokeArrow,
leftWaveArrow,
rightWaveArrow,
leftRightWaveArrow,
leftTwoheadedArrow,
upTwoHeadedArrow,
rightTwoheadedArrow,
downTwoheadedArrow,
leftTailArrow,
rightTailArrow,
upDownbaseArrow,
leftTabArrow,
rightTabArrow,
leftToBarOverRightToBarArrow,
downZigzagArrow,
upTipLeftArrow,
upTipRightArrow,
downTipLeftArrow,
downTipRightArrow,
rightCornerDownArrow,
carriagereturn,
topCircleLeftArrow,
topCircleRightArrow,
northWestToLongbarArrow,
northWestArrowToCorner,
southEastArrowToCorner,
anticlockwiseOpenCircleArrow,
anticlockwiseGappedCircleArrow,
clockwiseOpenCircleArrow,
clockwiseGappedCircleArrow,
leftBarbUpHarpoon,
leftBarbDownHarpoon,
upBarbRightharpoon,
upBarbLeftharpoon,
rightBarbUpHarpoon,
rightBarbdownHarpoon,
downBarbRightHarpoon,
downBarbLeftHarpoon,
leftOverRightHarpoon,
rightOverLeftHarpoon,
upDoublePairedArrow,
rightDoublePairedArrow,
downDoublePairedArrow,
leftDoublePairedArrow,
leftDoubleStrokeArrow,
leftRightDoubleStrokeArrow,
rightDoubleStrokeArrow,
leftTripleArrow,
rightTripleArrow,
leftSquiggleArrow,
rightSquiggleArrow,
leftDashArrow,
upDashArrow,
rightDashArrow,
dashdownArrow,
upWhiteArrow,
rightWhiteArrow,
downWhiteArrow,
leftWhiteArrow,
upOnPedestalWhiteArrow,
upArrowOnPedestalHorizontalWhiteBar,
upArrowOnPedestalVerticalWhiteBar,
upDoubleWhiteArrow,
upDoubleOnPedestalWhiteArrow,
rightFromWallWhiteArrow,
upDownWhiteArrow,
rightCircleArrow,
threeRightArrow,
leftOpenHeadedArrow,
rightOpenHeadedArrow,
leftRightOpenHeadedArrow,
upQuadrupleArrow,
rightQuadrupleArrow,
downQuadrupleArrow,
leftQuadrupleArrow,
rightCircledPlusArrow,
rightLongSquiggleArrow,
downArrowToBar,
downArrowWithHorizontalStroke,
downHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight,
downHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight,
downHarpoonWithBarbLeftFromBar,
downHarpoonWithBarbLeftToBar,
downHarpoonWithBarbRightFromBar,
downHarpoonWithBarbRightToBar,
downTripleArrow,
fallingDiagonalCrossingNorthEastArrow,
fallingDiagonalCrossingRisingDiagonal,
capslock.001,
pagedown,
pageup,
leftArrowTail,
leftArrowWithCircledPlus,
leftArrowWithTailWithDoubleVerticalStroke,
leftArrowWithTailWithVerticalStroke,
leftBarbDownRightBarbDownHarpoon,
leftBarbDownRightBarbUpHarpoon,
leftBarbUpRightBarbDownHarpoon,
leftBarbUpRightBarbUpHarpoon,
leftDoubleArrowTail,
leftDoubleArrowWithVerticalStroke,
leftHarpoonWithBarbDownAboveRightHarpoonWithBarbDown,
leftHarpoonWithBarbDownBelowLongDash,
leftHarpoonWithBarbDownFromBar,
leftHarpoonWithBarbDownToBar,
leftHarpoonWithBarbUpAboveLeftHarpoonWithBarbDown,
leftHarpoonWithBarbUpAboveLongDash,
leftHarpoonWithBarbUpAboveRightHarpoonWithBarbUp,
leftHarpoonWithBarbUpFromBar,
leftHarpoonWithBarbUpToBar,
leftTwoHeadedArrowFromBar,
leftTwoHeadedArrowWithDoubleVerticalStroke,
leftTwoHeadedArrowWithTail,
leftTwoHeadedArrowWithTailWithDoubleVerticalStroke,
leftTwoHeadedArrowWithTailWithVerticalStroke,
leftTwoHeadedArrowWithVerticalStroke,
leftarrowwithcircle,
longLeftSquiggleArrow,
northEastArrowAndSouthEastArrow,
northEastArrowCrossingNorthWestArrow,
northEastArrowCrossingSouthEastArrow,
northWestArrowAndNorthEastArrow,
northWestArrowCrossingNorthEastArrow,
rightArrowTail,
rightArrowWithTailWithDoubleVerticalStroke,
rightArrowWithTailWithVerticalStroke,
rightDoubleArrowTail,
rightDoubleArrowWithVerticalStroke,
rightHarpoonWithBarbDownAboveLeftHarpoonWithBarbDown,
rightHarpoonWithBarbDownBelowLongDash,
rightHarpoonWithBarbDownFromBar,
rightHarpoonWithBarbDownToBar,
rightHarpoonWithBarbUpAboveLeftHarpoonWithBarbUp,
rightHarpoonWithBarbUpAboveLongDash,
rightHarpoonWithBarbUpAboveRightHarpoonWithBarbDown,
rightHarpoonWithBarbUpFromBar,
rightHarpoonWithBarbUpToBar,
rightTwoHeadedArrowFromBar,
rightTwoHeadedArrowWithDoubleVerticalStroke,
rightTwoHeadedArrowWithTail,
rightTwoHeadedArrowWithTailWithDoubleVerticalStroke,
rightTwoHeadedArrowWithTailWithVerticalStroke,
rightTwoHeadedArrowWithVerticalStroke,
risingDiagonalCrossingFallingDiagonal,
risingDiagonalCrossingSouthEastArrow,
southEastArrowAndSouthWestArrow,
southEastArrowCrossingNorthEastArrow,
southWestArrowAndNorthWestArrow,
threeLeftArrows,
upArrowToBar,
upArrowWithHorizontalStroke,
upBarbLeftDownBarbLeftHarpoon,
upBarbLeftDownBarbRightHarpoon,
upBarbRightDownBarbLeftHarpoon,
upBarbRightDownBarbRightHarpoon,
upHarpoonWithBarbLeftBesideDownHarpoonWithBarbRight,
upHarpoonWithBarbLeftBesideUpHarpoonWithBarbRight,
upHarpoonWithBarbLeftFromBar,
upHarpoonWithBarbLeftToBar,
upHarpoonWithBarbRightFromBar,
upHarpoonWithBarbRightToBar,
upTripleArrow,
arrowHead,
arrowTail,
doubleArrowHead,
harpoonHead
)