@font-face {
    font-family: "Fira Math";
    src: url("../assets/fira-math.woff") format('woff');
}

@font-face {
    font-family: "Adobe Blank";
    src: url("../assets/adobe-blank/AdobeBlank.otf.woff") format('woff2');
}

@font-face {
    font-family: "Adobe NotDef";
    src: url("../assets/adobe-notdef/AND-Regular.otf") format('opentype');
}
