{
.appVersion = "3027";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
customParameters = (
{
name = "Don't use Production Names";
value = 1;
}
);
date = "2019-08-26 07:59:07 +0000";
familyName = "Fira Math";
features = (
{
code = "script math;

# Placeholder to make TeX work
sub parenleft from [parenleft parenleft];
";
tag = ssty;
}
);
fontMaster = (
{
axesValues = (
2
);
customParameters = (
{
name = "Preview Ascender";
value = 1100;
},
{
name = "Preview Descender";
value = 700;
}
);
iconName = Light;
id = "D42A05F0-DBDC-4569-915A-03C7188507B6";
metricValues = (
{
over = 12;
pos = 727;
},
{
over = 12;
pos = 680;
},
{
over = 12;
pos = 517;
},
{
over = -12;
},
{
over = -12;
pos = -188;
}
);
name = Light;
},
{
axesValues = (
30
);
customParameters = (
{
name = "Preview Ascender";
value = 1100;
},
{
name = "Preview Descender";
value = 700;
}
);
iconName = SemiLight;
id = "B2FE45D6-EF48-417F-ACCD-B60D15D1CAF3";
metricValues = (
{
over = 12;
pos = 734;
},
{
over = 12;
pos = 682;
},
{
over = 12;
pos = 520;
},
{
over = -12;
},
{
over = -12;
pos = -193;
}
);
name = SemiLight;
},
{
axesValues = (
92
);
customParameters = (
{
name = "Preview Ascender";
value = 1100;
},
{
name = "Preview Descender";
value = 700;
}
);
guides = (
{
locked = 1;
name = "Axis height";
pos = (0,280);
}
);
id = "D92A4C0B-EB2A-4209-AFE3-2959A8B274DD";
metricValues = (
{
over = 14;
pos = 739;
},
{
over = 14;
pos = 689;
},
{
over = 14;
pos = 527;
},
{
over = -14;
},
{
over = -15;
pos = -202;
}
);
name = Regular;
},
{
axesValues = (
198
);
customParameters = (
{
name = "Preview Ascender";
value = 1100;
},
{
name = "Preview Descender";
value = 700;
}
);
iconName = Bold;
id = "B26C53A4-97D1-457B-8232-65310EC64496";
metricValues = (
{
over = 20;
pos = 744;
},
{
over = 20;
pos = 696;
},
{
over = 20;
pos = 534;
},
{
over = -20;
},
{
over = -20;
pos = -215;
}
);
name = Bold;
}
);
instances = (
{
axesValues = (
2
);
customParameters = (
{
name = "Grid Spacing";
value = 0;
}
);
exports = 0;
instanceInterpolations = {
"D42A05F0-DBDC-4569-915A-03C7188507B6" = 1;
};
name = Two;
weightClass = 100;
},
{
axesValues = (
22
);
exports = 0;
instanceInterpolations = {
"B2FE45D6-EF48-417F-ACCD-B60D15D1CAF3" = 0.71429;
"D42A05F0-DBDC-4569-915A-03C7188507B6" = 0.28571;
};
name = Thin;
weightClass = 100;
},
{
axesValues = (
58
);
exports = 0;
instanceInterpolations = {
"B2FE45D6-EF48-417F-ACCD-B60D15D1CAF3" = 0.54839;
"D92A4C0B-EB2A-4209-AFE3-2959A8B274DD" = 0.45161;
};
name = Light;
weightClass = 300;
},
{
axesValues = (
92
);
instanceInterpolations = {
"D92A4C0B-EB2A-4209-AFE3-2959A8B274DD" = 1;
};
name = Regular;
},
{
axesValues = (
158
);
exports = 0;
instanceInterpolations = {
"B26C53A4-97D1-457B-8232-65310EC64496" = 0.62264;
"D92A4C0B-EB2A-4209-AFE3-2959A8B274DD" = 0.37736;
};
name = Bold;
weightClass = 700;
},
{
axesValues = (
198
);
exports = 0;
instanceInterpolations = {
"B26C53A4-97D1-457B-8232-65310EC64496" = 1;
};
name = Heavy;
weightClass = 900;
},
{
axesValues = (
222
);
exports = 0;
instanceInterpolations = {
"B26C53A4-97D1-457B-8232-65310EC64496" = 1.18464;
"B2FE45D6-EF48-417F-ACCD-B60D15D1CAF3" = -0.07143;
"D92A4C0B-EB2A-4209-AFE3-2959A8B274DD" = -0.11321;
};
name = Ultra;
weightClass = 950;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
note = "# Colors

- No color:    new glyphs
- Light green: copy from FiraSans/FiraGO
- Orange:      copy from FiraSans/FiraGO, with remapping
- Red:         copy from FiraSans/FiraGO, with small modification (flip/rotate/reconnect)
";
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright © 2018–2020 by Xiangdong Zeng. All rights reserved.";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Xiangdong Zeng";
}
);
},
{
key = manufacturers;
values = (
{
language = dflt;
value = "Xiangdong Zeng";
}
);
},
{
key = descriptions;
values = (
{
language = dflt;
value = "Sans-serif font with Unicode math support";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1.";
}
);
},
{
key = licenseURL;
value = "http://scripts.sil.org/OFL";
}
);
settings = {
keepAlternatesTogether = 1;
};
unitsPerEm = 1000;
versionMajor = 0;
versionMinor = 500;
}
